body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f5e6ff, #e0c3fc, #f3d9ff);
    text-align: center;
}

/* Title */
h1 {
    color: #a18cd1;
}

/* Form Inputs */
.form input {
    width: 260px;
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button */
.form button {
    padding: 12px 18px;
    border: none;
    background: #ff6f91;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Search */
#search {
    width: 300px;
    padding: 12px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* List */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 12px;
    border-radius: 12px;
    width: 65%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 10px rgba(161,140,209,0.3);
}

/* Buttons inside list */
li button {
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    background: #ff6f91;
    color: white;
    cursor: pointer;
}

/* Dropdown */
select {
    padding: 5px;
    border-radius: 6px;
}
